{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karnataka</title>
    <link  rel="stylesheet" href="{% static 'css/Karanataka.css' %}">

</head>
<body>
    <center><h1>Karnataka</h1>
        <br>
    
        <caption><img src="{% static 'images/Karnataka_map.jpg' %}" title="Karnataka Map" width="400px" height="400px"><figcaption >Karnataka MAP</figcaption></caption>
        </center>
        <br>
    <h1>History</h1>
    <h3>Karnataka (/kərˈnɑːtəkə/; ISO: Karnāṭaka, Kannada: [kɐɾˈnaːʈɐkɐ]), also known colloquially as Karunāḍu, is a state in the southwestern region of India. It was formed as Mysore State on 1 November 1956, with the passage of the States Reorganisation Act, and renamed Karnataka in 1973. The state is bordered by the Lakshadweep Sea to the west, Goa to the northwest, Maharashtra to the north, Telangana to the northeast, Andhra Pradesh to the east, Tamil Nadu to the southeast, and Kerala to the southwest. With 61,130,704 inhabitants at the 2011 census, Karnataka is the eighth-largest state by population, comprising 31 districts. The state was part of the Carnatic region in British terminology. With 15,257,000 residents, the state capital Bangalore is the fourth-most populated city in India.</h3>
    <h3>The economy of Karnataka is one of the most productive in comparison to other states in the country, with ₹20.5 trillion (US$260 billion) in gross domestic product and a per capita GDP of ₹305,000 (US$3,800).[14][15] The state of Karnataka has one of the highest economic growth rates comparatively to other states in the country, with a GSDP (Gross State Domestic Product) growth of 9.5% in the 2021–22 fiscal year.[16][17] After Bangalore Urban, Dakshina Kannada, Hubli-Dharwad and Belagavi districts contribute the highest revenue to the state respectively. The capital of the state, Bangalore, is known as the Silicon Valley of India, for its immense contributions to the country's information technology sector. A total of 1,973 companies in the state were found to have been involved in the IT sector as of 2007.</h3>
    <h3>Karnataka is the only southern state to have land borders with all of the other four southern Indian sister states. The state covers an area of 191,791 km2 (74,051 sq mi), or 5.83 per cent of the total geographical area of India.[19] It is the sixth-largest Indian state by area.[19] Kannada, one of the classical languages of India, is the most widely spoken and official language of the state. Other minority languages spoken include Urdu, Konkani, Marathi, Tulu, Tamil, Telugu, Malayalam, Kodava and Beary. Karnataka also contains some of the only villages in India where Sanskrit is primarily spoken.</h3>
    <caption><img src="{% static 'images/Karnataka_Mysorepalace.jpg' %}" title="Karnataka Mysore Palace" width="400px" height="400px"><figcaption >Fig1: Karnataka Mysore Palace</figcaption></caption>
    
    <h1>Geography</h1>
    <h3>The state has three principal geographical zones:
        <ol>The coastal region of Karavali and Tulu Nadu.</ol>
        <ol>The hilly Malenadu region comprising the Western Ghats.</ol>
        <ol>The Bayaluseeme region comprising the plains of the Deccan Plateau.</ol>
        <caption><img src="{% static 'images/Karnataka_geography.jpg' %}" title="Karnataka Geography" width="400px" height="400px"><figcaption >Fig1: Karnataka Geography</figcaption></caption>

        The bulk of the state is in the Bayaluseeme region, the northern part of which is the second-largest arid region in India.[66] The highest point in Karnataka is the Mullayanagiri hills in Chikmagalur district which has an altitude of 1,925 m (6,316 ft). The two main river systems of the state are the Krishna and its tributaries, the Bhima, Ghataprabha, Vedavathi, Malaprabha and Tungabhadra in North Karnataka, and the Kaveri and its tributaries, the Hemavati, Shimsha, Arkavati, Lakshmana Thirtha and Kabini, in South Karnataka. Most of these rivers flow out of Karnataka eastward, reaching the sea at the Bay of Bengal. Other prominent rivers such as the Sharavati in Shimoga and Netravati in Dakshina Kannada flow westward to the Lakshadweep Sea. A large number of dams and reservoirs are constructed across these rivers which richly add to the irrigation and hydroelectricity power generation capacities of the state.
    </h3>

    <h1>Climate</h1>
    <h3>Karnataka experiences four seasons. The winter in January and February is followed by summer between March and May, the monsoon season between June and September and the post-monsoon season from October till December. Meteorologically, Karnataka is divided into three zones – coastal, north interior and south interior. Of these, the coastal zone receives the heaviest rainfall with an average rainfall of about 3,638.5 mm (143 in) per annum, far in excess of the state average of 1,139 mm (45 in). Amagaon in Khanapura taluka of Belgaum district received 10,068 mm (396 in) of rainfall in 2010.[75] In 2014 Kokalli in Sirsi taluka of Uttara Kannada district received 8,746 mm (344 in) of rainfall.[76] Agumbe in Thirthahalli taluka and Hulikal of Hosanagara taluka in Shimoga district were the rainiest cities in Karnataka, situated in one of the wettest regions in the world.</h3>

    <h3>The state is projected to warm about 2.0 °C (4 °F) by 2030. The monsoon is set to provide less rainfall. Agriculture in Karnataka is mostly rainfed as opposed to irrigated, making it highly vulnerable to expected changes in the monsoon.[78] The highest recorded temperature was 45.6 °C (114 °F) in Raichuru district. The lowest recorded temperature was 2.8 °C (37 °F) at Bidar district.[79]</h3>

    <h1>Language</h1>
    <h3>Kannada is the official language of the state of Karnataka, as the native language of 66.46% of its population as of 2011 and is one of the classical languages of India. Urdu is the second largest language, spoken by 10.83% of the population, and is the language of Muslims outside the coastal region. Telugu (5.84%) is a major language in areas bordering Andhra Pradesh and Karnataka as well as Bangalore, while Tamil (3.45%) is a major language of Bangalore and in the Kolar district. Marathi (3.29%) is concentrated in areas of Uttara Kannada, Belgaum and Bidar districts bordering Maharashtra. Lambadi is spoken by the Lambadis scattered throughout North Karnataka, while Hindi is spoken in Bangalore. Tulu (2.61%), Konkani (1.29%), and Malayalam (1.27%) are all found in linguistically diverse Coastal Karnataka, where a number of mixed and distinct dialects such as Are Bhashe, Beary Bhashe, and Nawayathi are found. Kodava Takk is the language of Kodagu.</h3>

    <h3>Kannada played a crucial role in the creation of Karnataka: linguistic demographics played a major role in defining the new state in 1956. Tulu, Konkani and Kodava are other minor native languages that share a long history in the state. Urdu is spoken widely by the Muslim population. Less widely spoken languages include Beary bashe and certain languages such as Sankethi. Some of the regional languages in Karnataka are Tulu, Kodava, Konkani and Beary.[99][100][101]</h3>

    <h1>Flora And Fauna</h1>
    <h3>Karnataka is home to a variety of wildlife. It has a recorded forest area of 38,720 km2 (14,950 sq mi) which constitutes 12.3% of the total geographical area of the state.[80] These forests support 25% of the elephant and 10% of the tiger population of India. Many regions of Karnataka are as yet unexplored, so new species of flora and fauna are found periodically. The Western Ghats, a biodiversity hotspot, includes the western region of Karnataka. The Bandipur and Nagarahole National Parks were included in the Nilgiri Biosphere Reserve in 1986, a UNESCO designation.[81] The Indian roller and the Indian elephant are recognised as the state bird and animal while sandalwood and the lotus are recognised as the state tree and flower respectively. Karnataka has five national parks: Anshi, Bandipur, Bannerghatta, Kudremukh and Nagarhole.[82] It also has 27 wildlife sanctuaries of which seven are bird sanctuaries.</h3>
    <caption><img src="{% static 'images/Karnataka_state_bird.jpg' %}" title="Karnataka State Bird" width="400px" height="400px"><figcaption >Fig1: Karnataka State Bird</figcaption></caption>
    <caption><img src="{% static 'images/Karnataka_Tigers.jpg' %}" title="Karnataka Tigers" width="400px" height="400px"><figcaption >Fig1: Tigers </figcaption></caption>


    <h1>Information and Biotechnology</h1>
    <h3>Karnataka is the leader in the information technology sector in India and its capital, Bangalore, is known as the Silicon Valley of India. In the IT sector, Karnataka generated a total revenue of ₹ 516.5 billion in the financial year 2006–07 which included ₹ 487 billion from software exports and ₹ 29.5 billion from hardware exports.[28] A total of 1973 companies in the state are involved in Information Technology-related business.[28] While the bulk of the IT related companies are located in Bangalore, some companies are located in Mysore and Mangalore as well. Bangalore is also the headquarters of Wipro and Infosys which are among the top three IT companies in India in regards to market capitalization.[29] The Nandi Hills area in Devanahalli outskirts is the site of the upcoming $22 Billion, 50 square kilometre BIAL IT Investment Region, one of the largest infrastructure projects in the history of Karnataka.</h3>

    <h3>As of June 2006, Karnataka housed 55% of biotechnology related companies in India.[31] Bangalore is also the home of the largest biocluster in India with total revenues of ₹ 14 billion and having 158 of the 320 companies working on biotechnology in India.[31] Karnataka has a headcount of over 6,800 scientists involved in biotech research and out of twenty eight biotech companies that were registered in India in the year 2005–06, 27 were located in Karnataka.[31]</h3>

    <caption><img src="{% static 'images/Karnataka_infosys.jpg' %}" title="Karnataka Infosys" width="400px" height="400px"><figcaption >Fig1: Karnataka Infosys</figcaption></caption>





















</body>
</html>